<!DOCTYPE html>
<html>
<head>
	<title>Wikipedia Search</title>
	<link type="text/css" rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
  <link type="text/css" rel="stylesheet" href="css/custom.css">
</head>
<body ng-app="wikiSearchApp" ng-controller="wikiController">
  <div class="input-group form-inline">
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    <input type="text" class="form-control" ng-model="searchValue" ng-keyup="onTypeEvent()" placeholder="Search...">
  </div>
  <div class="container-fluid">
    <a ng-repeat="result in searchResults" ng-href="http://en.wikipedia.org/wiki/{{ result.title }}" target="_blank">
      <div class="col-xs-12 thumbnail">
        <h1>{{ result.title }}</h1>
        <p ng-bind-html="result.snippet"></p>
      </div>
    </a>
    <a ng-href="{{ randomLink }}" target="_blank" aria-label="Random Wikipedia Link" ng-click="">Random Wikipedia article</a>
  </div>
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
<script src="app/app.js"></script>
</body>
</html>